.board-row {
  width:14%;
  display: inline-block;
  vertical-align: top;
}

.board-tile {
  width: 50px;
	height: 50px;
  background: grey;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.symbol-x{
  background: blue;
}

.symbol-o{
	background: cyan;
}
